* {
    outline: thin dotted;
    outline: 0px;
}
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#2F2504, #594E36)
}

#bloco {
    position: relative;
    z-index: 1;
    width: 800px;
    height: 400px;
    background: linear-gradient(#F79256, #FBD1A2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
}

#bloco h1 {
    font-size: 40px;
    color: #2F2504;
}

#msg {
    background: linear-gradient(#F79256, #FBD1A2);
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

#button_start {
    background: #00b2ca;
    border: 0px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #2F2504;

    box-shadow: 2px 3px 4px black;

    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

#button_start:hover {
    background: #1d4e89;
    color:  white;
    border: 1px solid white;
}

#box_start, #box_offset, #box_end {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    cursor: pointer;
}

#start, #offset, #end {
    width: 10px;
    height: 80%;
    background: radial-gradient(rgb(85, 85, 85), black);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}


#peça1 {
    background: lightcoral;
    width: 200px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;

    transition-timing-function: linear;
    transition-duration: 0.2s;
}
#peça1:hover {
    background: rgb(231, 170, 170);
}

#peça2 {
    background: lightgreen;
    width: 150px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;

    transition-timing-function: linear;
    transition-duration: 0.2s;
}
#peça2:hover {
    background: rgb(195, 240, 195);
}

#peça3 {
    background: lightsalmon;
    width: 100px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;

    transition-timing-function: linear;
    transition-duration: 0.2s;
}
#peça3:hover {
    background: rgb(255, 204, 183);
}

#peça4 {
    background: lightseagreen;
    width: 50px;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;

    transition-timing-function: linear;
    transition-duration: 0.2s;
}
#peça4:hover {
    background: rgb(112, 202, 198);
}

#pontuation {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#F79256, #FBD1A2);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

    box-shadow: 2px 3px 5px black;
}

#estrelas {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pontuation p {
    font-weight: 700;
    color: #2F2504;
}

#contador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#F79256, #FBD1A2);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 700;
    color: #2F2504;

    box-shadow: 2px 3px 5px black;
}

#mensagem {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#F79256, #FBD1A2);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 700;
    color: #2F2504;
    opacity: 0.9;

    box-shadow: 2px 3px 5px black;
}

.restart {
    background: #00b2ca;
    border-radius: 10px;
    border: 0px;
    color: #2f2504;
    font-weight: 700;
    width: 110px;
    height: 50px;
    margin-top: 10px;

    box-shadow: 2px 3px 4px black;

    transition-timing-function: linear;
    transition-duration: 0.2s;

    cursor: pointer;
}
.restart:hover {
    background: #1d4e89;
    color:  white;
    border: 1px solid white;
}

#sombra{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
}

.highlight{
    margin-bottom: 20px;
}

.column {
    flex-direction: column !important;
}

.display {
    display: none !important;
}

@media screen and (max-width: 800px) {
    #bloco {
        width: 90%;
        height: 200px;
    }
    #bloco h1 {
        font-size: 20px;
    }
    #button_start {
        font-size: 20px;
        width: 100px;
        height: 30px;
    }

    #box_start, #box_offset, #box_end {
        height: 100%;
        display: flex; 
    }

    #start, #offset, #end {
        height: 80%;
    }

    #peça1, #peça2, #peça3, #peça4 {
        height: 20px;
    }
    #peça1 {
        width: 100px;
    }
    #peça2 {
        width: 75px;
    }
    #peça4 {
        width: 25px;
    }
    #peça3 {
        width: 50px;
    }

    #pontuation div img {
        width: 50px;
    }
    #pontuation {
        width: 80%;
    }

    #mensagem {
        width: 80%;
    }
}
